
@media (max-width:1450px) {
    .banner-caps h1 {
        font-size: 54px;
    }
    .banner-caps {
        width: 600px;
        padding: 25px 45px;
        margin-top: 50px;
    }
    .page-head {
        padding: 20px 30px;
        font-size: 54px;
        margin: -30px 0 25px;
    }
    .con-head {
        font-size: 34px;
    }
    .con-fb-col input[type="text"] {
        padding: 11px 16px;
    }
    .mr-head h1 {
        font-size: 56px;
        line-height: 1.1;
    }
    ul.cus-list li span {
        font-size: 22px;
        padding: 6px 10px 6px 40px;
    }
}
 @media (max-width:1279px) {
    .menu-col ul li a {
        font-size: 15px;
        padding: 5px 10px;
    }
    .logo-top {
        width: 180px;
        padding: 0 15px;
    }
    .r-nav {
        padding-left: 20px;
    }
    .col-center {
        width: 100%;
    }
    .banner-caps h1 {
        font-size: 42px;
    }
    .banner-caps {
        width: 460px;
        padding: 20px 40px;
        margin-top: 40px;
    }
    .banner-caps span {
        font-size: 18px;
        line-height: 1.6;
    }
    .col-left {
        margin-left: 0;
    }
    .pl-0 {
        padding-left: 15px;
    }
    .pr-0 {
        padding-right: 14px;
    }
    .container-fluid, .container {
        width: 96% !important;
    }
    body.inner-page {
        padding-top: 80px;
    }
    .page-head {
        padding: 15px 20px;
        font-size: 44px;
        margin: -30px 0 25px;
    }
    .con-head {
        font-size: 33px;
    }
    .con-fb-col input[type="text"] {
        padding: 10px 15px;
    }
    .con-btn {
        font-size: 14px;
        padding: 14px;
        width: 100%;
        max-width: 50%;
    }
    .map-full iframe {
        height: 550px;
    }
    .mr-head h1 {
        font-size: 48px;
        line-height: 1.1;
    }
    .b-blue p {
        font-size: 32px;
        line-height: 1.2;
    }
    ul.cus-list li span {
        font-size: 20px;
        padding: 6px 10px 6px 40px;
    }
    .mr-fur {
        border: 10px solid #B5B5B5;
        padding: 20px;
        margin-left: 15px;
    }
    .fur-img {
        margin-left: 15px;
    }
    .smile-img {
        width: 35%;
    }
    .smaile-c {
        width: calc(100% - 39%);
    }
    .smaile-c h3 {
        font-size: 28px;
    }
    .fur-green {
        padding: 17px 20px;
        margin-bottom: 15px;
    }
    .fur-l p {
        font-size: 16px;
    }
}
@media screen and (max-width: 991px) {
    .r-nav {
        padding-left: 0;
        padding-right: 45px;
        position: absolute;
        top: 25px;
        right: 3%;
    }
    .header-right {
        width: 100%;
    }
    .menu-col {
        width: 100%;
        background: rgb(0 0 0 / 50%);
    }
    .menu-col ul {
        margin: 0;
        width: 100%;
        padding: 10px;
    }
    .banner-caps h1 {
        font-size: 30px;
    }
    .banner-caps span {
        font-size: 16px;
        line-height: 1.6;
    }
    .banner-caps {
        width: 390px;
        padding: 15px 25px;
        margin-top: 30px;
    }
    .t-blue {
        font-size: 16px;
        margin: 0 0 5px;
    }
    .ben-sec p {
        font-size: 14px;
    }
    .ben-sec {
        padding: 20px 0 0;
    }
    .page-head {
        padding: 15px 20px;
        font-size: 38px;
        margin: -30px 0 25px;
    }
    .con-head {
        font-size: 24px;
    }
    .con-fb {
        padding: 30px;
        margin-top: 25px;
    }
    .mr-head h1 {
        font-size: 34px;
        line-height: 1.1;
    }
    .mr-head {
        padding: 15px 25px;
        width: 50%;
    }
    .b-blue p {
        font-size: 24px;
    }
    .b-blue {
        padding: 15px 20px;
        margin: 15px 0;
    }
    ul.cus-list li span {
        font-size: 18px;
        padding: 6px 10px 6px 40px;
    }
    ul.cus-list li:after {
        top: 10px;
    }
    .mr-fur {
        margin-top: 15px;
        border: 10px solid #B5B5B5;
        padding: 15px;
        margin-left: 0;
    }
    .fur-img {
        margin-left: 0;
    }
    .fur-green {
        background: #65D636;
        padding: 17px 20px;
        margin-bottom: 0;
    }
    .smaile-c h3 {
        font-size: 20px;
    }

}
@media screen and (max-width: 767px) {
    #cssmenu #menu-button {
        right: 4px;
        top: 20px;
    }
    .logo-top {
        width: 150px;
        padding: 0 10px;
    }
    .banner-caps {
        width: 100%;
        padding: 10px 20px;
        margin-top: 0;
        transform: none;
        top: auto;
        bottom: 0;
        text-align: center;
    }
    .banner-caps h1 {
        font-size: 22px;
    }
    .banner-caps span {
        font-size: 14px;
        line-height: 1.6;
    }
    p:last-child {
        margin-bottom: 0;
    }
    .sec {
        padding: 20px 0;
    }
    .img-full {
        margin-bottom: 15px;
    }
    .new-lb {
        margin: -40px auto 0;
        width: 90%;
        padding: 15px;
    }
    .new-lr button {
        font-size: 14px;
        width: 100px;
        padding: 7px;
    }
    .new-lr input[type="text"] {
        width: calc(100% - 100px);
        padding: 6px 10px;
    }
    .new-lb h2 {
        color: #fff;
        font-size: 18px;
    }
    .gallery-row {
        margin: 0 -15px;
        padding: 0 10px 20px;
    }
    .footer {
        padding: 30px 0 20px;
    }
    .ben-icon {
        margin: 0 auto 10px;
    }
    .ben-sec p {
        padding-bottom: 20px;
    }
    .page-head {
        padding: 15px 20px;
        font-size: 24px;
        margin: -30px 0 25px;
    }
    body.inner-page {
        padding-top: 74px;
    }
    .new-lr {
        margin: 0 0 5px;
    }
    .con-head {
        font-size: 20px;
    }
    .con-fb {
        padding: 20px;
        margin-top: 25px;
    }
    .con-fb-col input[type="text"] {
        padding: 8px 15px;
    }
    .map-full iframe {
        height: 410px;
    }
    .mr-head {
        padding: 15px 20px;
        width: 100%;
    }
    .mr-ch-i {
        width: 100%;
    }
    .mr-head h1 {
        font-size: 24px;
        line-height: 1.1;
    }
    .mr-ch {
        margin-bottom: 20px;
    }
    .b-blue p {
        font-size: 20px;
    }
    ul.cus-list li span {
        font-size: 16px;
        padding: 6px 10px 6px 40px;
    }
    ul.cus-list li:after {
        top: 10px;
        width: 14px;
        height: 14px;
    }
    .b-blue {
        padding: 12px 15px;
        margin: 0 0 15px;
    }
    ul.cus-list {
        margin: 0 0 20px;
    }
    .smile-img {
        width: 30%;
    }
    .smaile-c {
        width: calc(100% - 36%);
    }
    .mr-fur {
        border: 5px solid #B5B5B5;
    }
    .fur-l {
        padding-right: 0;
        width: 100%;
        margin-bottom: 20px;
    }
    .fur-r {
        width: 100%;
    }
}
